<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
  안녕하세요, 문과처럼(?) 살고 싶은 머신러닝 개발자 윤주성입니다. <br>
<br>
  자연어처리와 머신러닝을 전공했고 현재는 챗봇쪽 일을 하고 있습니다. <br>
<br>
  시간이 무한하게 주어진다면, 소설을 읽으면서 인생을 즐기면 좋겠다는 작은 꿈(?)이 있습니다. <br>
<br>
  - 자기개발: 글을 읽고 정리하는 것 & “연구/구현/발표” 하는 것 등을 좋아합니다 <br>
  - 출구전략(?): ML & NLP 교육에 관심이 있습니다 <br>
  - 취미: 드론, 영상 편집, 보드게임, 기타연주 하는 것도 좋아합니다 <br>
  - 가치관(?): 하루 하루를 성실히 사는 것이, 바짝 살고 쭉 노는 것 보다 낫다고 믿습니다. <br>
<br>


<p><em>&quot;Better is one day in your court than a thousand elsewhere&quot;</em></p>
<ul>
<li>Email: xelloss705@naver.com / xelloss705@gmail.com / eagle705@korea.ac.kr   </li>
</ul>
<h2 id="research-domain">Research Domain</h2>
<ul>
<li>Semantic Textual Similarity</li>
<li>Sentiment Analysis</li>
<li>Named Entity Recognition</li>
<li>Open-Domain Question Answering</li>
<li>Natural Language Generation</li>
<li><strong>Presentation Slides</strong>: <a href="https://github.com/eagle705/Presentation">https://github.com/eagle705/Presentation</a></li>
</ul>
<h2 id="current-interest">Current Interest</h2>
<ul>
<li>Natural Language Generation</li>
<li>Speech Synthesis</li>
<li>Dialog Sytstem</li>
<li>Generative Adversarial Networks</li>
<li>AutoML</li>
</ul>
<h2 id="challenge-award">Challenge &amp; Award</h2>
<ul>
<li>2nd Place @ <a href="https://github.com/ai-starthon/AI_Starthon2019">Intent Classification of AI Starthon 2019</a> (NIPA, Naver)</li>
<li>3rd Place @ <a href="https://github.com/ai-starthon/AI_Starthon2019">Query Classification of AI Starthon 2019</a> (NIPA, Naver)</li>
<li>4th Place @ <a href="https://github.com/ai-starthon/AI_Starthon2019">Movie Rating Classification of AI Starthon 2019</a> (NIPA, Naver)</li>
<li>7th Place @ <a href="http://air.changwon.ac.kr/?page_id=10">Named Entity Recognition of NLP Challenge</a> (NAVER, Changwon univ)</li>
<li><a href="http://www03.zdnet.co.kr/view/?no=20160907180007">Qualcomm Innovation Award 2016</a> (Qualcomm Korea)</li>
</ul>



</div>