<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
  안녕하세요, 문과처럼(?) 살고 싶은 머신러닝 개발자 윤주성입니다. <br>
<br>
  자연어처리와 머신러닝을 전공했고 현재는 챗봇쪽 일을 하고 있습니다. <br>
<br>
  시간이 무한하게 주어진다면, 소설을 읽으면서 인생을 즐기면 좋겠다는 작은 꿈(?)이 있습니다. <br>
<br>
  - 자기개발: 글을 읽고 정리하는 것 & “연구/구현/발표” 하는 것 등을 좋아합니다 <br>
  - 출구전략(?): ML & NLP 교육에 관심이 있습니다 <br>
  - 취미: 드론, 영상 편집, 보드게임, 기타연주 하는 것도 좋아합니다 <br>
  - 가치관(?): 하루 하루를 성실히 사는 것이, 바짝 살고 쭉 노는 것 보다 낫다고 믿습니다. <br>
<br>
"Better is one day in your court than a thousand elsewhere" <br>
<br>

Email: xelloss705@naver.com / xelloss705@gmail.com / eagle705@korea.ac.kr <br>

<br>
"Better is one day in your court than a thousand elsewhere" <br><br>

- Email: xelloss705@naver.com / xelloss705@gmail.com / eagle705@korea.ac.kr   <br><br>


## Research Domain <br>
- Semantic Textual Similarity <br>
- Sentiment Analysis <br>
- Named Entity Recognition <br>
- Open-Domain Question Answering <br>
- **Presentation Slides**: [https://github.com/eagle705/Presentation](https://github.com/eagle705/Presentation) <br><br>


## Current Interest <br>
- Natural Language Generation <br>
- Speech Synthesis <br>
- Dialog Sytstem <br>
- Generative Adversarial Networks <br>
- AutoML <br><br>

## Challenge & Award <br>
- 2nd Place @ [Intent Classification of AI Starthon 2019](https://github.com/ai-starthon/AI_Starthon2019) (NIPA, Naver) <br>
- 3rd Place @ [Query Classification of AI Starthon 2019](https://github.com/ai-starthon/AI_Starthon2019) (NIPA, Naver) <br>
- 4th Place @ [Movie Rating Classification of AI Starthon 2019](https://github.com/ai-starthon/AI_Starthon2019) (NIPA, Naver) <br>
- 7th Place @ [Named Entity Recognition of NLP Challenge](http://air.changwon.ac.kr/?page_id=10) (NAVER, Changwon univ) <br>
- [Qualcomm Innovation Award 2016](http://www03.zdnet.co.kr/view/?no=20160907180007) (Qualcomm Korea) <br>

## 약력

- (2018 - Now) AI Research Engineer (Chatbot & Game AI)

- (2016 - 2017) Korea Univ Computer Science Master's student
(Major in Deep Learning, Natural Language Processing)

- (2017.7 - 2017.8) Research Intern in NAVER corporation

- (2012-2015) Korea Univ
(Major in Software Technology and Enterprise Program(STEP) )

- (2010-2015) Korea Univ
(Major in Industrial Engineering)

- (2007-2009) Ansan Dongsan Christian High school




  
</div>