---
layout: default
---
<style>
#timeline {
  font-size: 20px;
  font-weight: 300;
}
@media (min-width: 768px) {
  .timelineitem:nth-child(odd) {
    margin-left: 50%;
    border-left: 5px solid #333;
    text-align: left;
  }
  .timelineitem:nth-child(even) {
    margin-right: 50%;
    margin-left: 5px;
    border-right: 5px solid #333;
    text-align: right;
  }
  .timelineitem {
    width: 50%;
    position: relative;
    padding: 0px 10px 0px 10px;
  }
  .timelineitem:nth-child(odd):before {
   left: -8px;
  }
  .timelineitem:nth-child(even):before {
    right: -8px;
  }
}
.timelineitem:before {
  width: 11px;
  height: 11px;
  background: #333;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  border-radius: 5px;
}
@media (max-width: 767px) {
  .timelineitem {
    border-left: 5px solid #333;
    text-align: left;
    margin-left: 10px;
    padding: 5px;
    position: relative;
  }
  .timelineitem:before {
    left: -8px;
  }
}
.tdate {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: -5px;
  color: rgb(132,0,0);
}
.ttitle {
  font-size: 20px;
  font-weight: 400;
}
.tdesc {
  font-size: 18px;
  font-weight: 300;
}
@media (max-width: 768px) {
  .tdate {
    font-size: 16px;
  }
  .ttitle {
    font-size: 16px;
  }
  .tdesc {
    font-size: 16px;
  }
}
.thigh {
  color: #070;
}
</style>

<style>
#header {
    width: 100%;
    height: 300px;
    font-weight: 300;
    color: white;
    margin-bottom: 40px;
}
.bg1 {
    background-image: url('/static/img/stanfordpano2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
Inherited from body
html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #444;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
Inherited from html
html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #444;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
Pseudo ::before element
:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
Pseudo ::after element
:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


#headerblob {
    position: absolute;
    left: 20%;
    top: 100px;
    width: 80%;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

user agent stylesheet
div {
    display: block;
}
Inherited from div#header.bg1
#header {
    width: 100%;
    height: 400px;
    font-weight: 300;
    color: white;
    margin-bottom: 40px;
}
Inherited from body
html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #444;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
Inherited from html
html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #444;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
Pseudo ::before element
:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#headertext {
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 170px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
Inherited from div#header.bg1
#header {
    width: 100%;
    height: 400px;
    font-weight: 300;
    color: white;
    margin-bottom: 40px;
}
Inherited from body
html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #444;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
Inherited from html
html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #444;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
Pseudo ::before element
:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
Pseudo ::after element
:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.imgme {
    border: 3px solid white;
    box-shadow: #AAA 0px 0px 4px 0px;
    float: left;
}
.img-circle {
    border-radius: 50%;
}
#htname {
    font-size: 35px;
    font-weight: 400;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
Inherited from div#headertext
#headertext {
    font-size: 26px;
    font-weight: 400;
    margin-top: 50px;
    margin-left: 220px;
}
Inherited from div#header.bg1
#header {
    width: 100%;
    height: 400px;
    font-weight: 300;
    color: white;
    margin-bottom: 40px;
}
Inherited from body
html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #444;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
Inherited from html
html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #444;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
Pseudo ::before element
:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
Pseudo ::after element
:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#htdesc {
    font-size: 18px;
    font-weight: 300;
    margin-top: -6px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
Inherited from div#headertext
#headertext {
    font-size: 26px;
    font-weight: 400;
    margin-top: 50px;
    margin-left: 220px;
}
Inherited from div#header.bg1
#header {
    width: 100%;
    height: 400px;
    font-weight: 300;
    color: white;
    margin-bottom: 40px;
}
Inherited from body
html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #444;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
Inherited from html
html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #444;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
Pseudo ::before element
:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
Pseudo ::after element

#htem {
    font-size: 14px;
    font-weight: 300;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
Inherited from div#headertext
#headertext {
    font-size: 26px;
    font-weight: 400;
    margin-top: 50px;
    margin-left: 220px;
}
Inherited from div#header.bg1
#header {
    width: 100%;
    height: 400px;
    font-weight: 300;
    color: white;
    margin-bottom: 40px;
}
Inherited from body
html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #444;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
Inherited from html
html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #444;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.svgico {
    display: inline-block;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

user agent stylesheet
div {
    display: block;
}
Inherited from div#headertext
#headertext {
    font-size: 26px;
    font-weight: 400;
    margin-top: 50px;
    margin-left: 220px;
}
Inherited from div#header.bg1
#header {
    width: 100%;
    height: 400px;
    font-weight: 300;
    color: white;
    margin-bottom: 40px;
}
Inherited from body
html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #444;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
Inherited from html
html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #444;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

</style>

<div class="well">

<!-- Header Start -->
<div id="header" class="bg1">
  <div id="headerblob">
      <img src="/static/img/me2.png" class="img-circle imgme" style="max-width:25%">
      <div id="headertext">
        <div id="htname">Joosung Yoon</div>
        <div id="htdesc">KoreaUniv Computer Science Master student</div>
        <div id="htem">eagle705@korea.ac.kr</div>
        <div id="icons">
          <div class="svgico">
            <a href="https://facebook.com/hisdevelopers"><img src="/static/icon/facebook.svg" width="30px"></a>
          </div>
          <div class="svgico">
            <a href="https://github.com/eagle705"><img src="/static/icon/github.svg" width="30px"></a>
          </div>
          <!-- <div class="svgico">
            <a href="https://github.com/karpathy"><img src="icons/octocat.svg" width="56px"></a>
          </div> -->
        </div>
      </div>
    </div>
</div>
  <!-- Header End -->
  <!--Timeline Start  -->
          <div id="timeline">
            <div class="timelineitem">
              <div class="tdate">2016 - </div>
              <div class="ttitle">Korea University Graduate Student</div>
              <div class="tdesc">Major in Deep Learning, Computer Vision, Natural Language Processing.</div>
            </div>
            <div class="timelineitem">
              <div class="tdate">Winter 2012</div>
              <div class="ttitle">Korea University Student</div>
              <div class="tdesc">Major in Software Technology and Enterprise Program(STEP)</div>
            </div>
            <div class="timelineitem">
              <div class="tdate">Winter 2010</div>
              <div class="ttitle">Korea University Student</div>
              <div class="tdesc">Major in Industrial Engineering</div>
            </div>
            <div class="timelineitem">
              <div class="tdate">2007 </div>
              <div class="ttitle">High school Student <a href="" target="_blank"></a></div>
              <div class="tdesc">Ansan Dongsan High school</div>
            </div>




            <!--
            <div class="timelineitem">
              <div class="tdate">Summer 2011</div>
              <div class="ttitle">Google Research Internship</div>
              <div class="tdesc">Large-Scale Unsupervised Deep Learning for Videos.</div>
            </div>
            <div class="timelineitem">
             <div class="tdate">2009-2011</div>
              <div class="ttitle">University of British Columbia: Master's Degree</div>
              <div class="tdesc">I worked with <a href="https://www.cs.ubc.ca/~van/">Michiel van de Panne</a> on learning Compositional Controllers for Physically-simulated Articulate Figures.</div>
            </div>
            <div class="timelineitem">
              <div class="tdate">2005-2009
              </div>
              <div class="ttitle">University of Toronto: Bachelor's Degree</div>
              <div class="tdesc">Double major in Computer Science and Physics.</div>
            </div> -->

            <br><br>
<!--Timeline End  -->
    {% if page.subtitle %}
    <h4 class="home-subtitle">{{ page.subtitle }}</h4>
    {% endif %}
    <div>
    	{{ content }}
    </div>
</div>
